/* You can add global styles to this file, and also import other style files */

@import 'angular-material-router-theme.scss';

.angular-material-router-app-theme {
  $theme: $angular-material-router-app-theme;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
}
.angular-material-router-app-theme-green {
  $theme: $angular-material-router-app-theme-green;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
}
.angular-material-router-app-theme-yellow {
  $theme: $angular-material-router-app-theme-yellow;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
}
.angular-material-router-app-theme-purple {
  $theme: $angular-material-router-app-theme-purple;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
}
.angular-material-router-app-theme-pink {
  $theme: $angular-material-router-app-theme-pink;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
}
.angular-material-router-app-theme-warn {
  $theme: $angular-material-router-app-theme-warn;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
:focus {
  outline: none;
} // Remove browser default;
